logs
target
/target
/logs
project/project
project/target
tmp
dist
.cache
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/public
/project

\.bloop/

\.metals/

*.class
*.log
*.iml
*.ipr
*.iws
.idea
out
.cache/
.history/
.lib/
dist/*
target/
bin/
libexec/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
logs/
project/*-shim.sbt
project/project/
project/target/
target/
.scala_dependencies
.worksheet